{{#each prod}}
<p>-----------------------------------------------------------------------</p>
    <p>id:{{id}}</p>
    <p>title:{{title}}</p>
    <p>description:{{description}}</p>
    <p>price:{{price}}</p>
    <p>thumbnail:{{thumbnail}}</p>
    <p>code:{{code}}</p>
    <p>stock:{{stock}}</p>
    <p>category:{{category}}</p>
{{/each}}